@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
  font-family: 'Raleway', sans-serif;
}

.arrows{
  position: absolute;
  bottom: 26%;
  left: 50%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}
.question{
  color: black;
  text-align: center;
}

#psa_section{
  display: none;
}

#head_parallax{
  opacity: 0.4;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: rgb(192, 8, 8);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  #parallax-container-3 {
    min-height: 460px !important;
  }

.link_site{
  margin: 10%;

}

.logo {
  height: 100px;
  width: auto;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
